Package: nchain-blockchain-cli
Version: {{ NCHAIN_DEB_CONTROL_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Chia Network Inc <hello@chia.net>
Description: NChain Blockchain
 NChain is a modern cryptocurrency built from scratch, designed to be efficient, decentralized, and secure.
